{% extends 'baseblog.html' %}

{% block content %}
    <div style="color:#F7F7F7;font-weight:600;font-size:20px; position:relative; left:250px">
        <p>你想一夜暴富吗？</p>
        <p>你想一夜成名吗？</p>
        <p>你想资产过亿吗？</p>
        <p>宝贝，你想开着兰博基尼泡妞吗？</p>
        <p>你想拿钞票点烟吗？</p>
        <p>你想成为世界的主宰吗？那还在等待什么？</p>
    </div>
    <div style="position:relative; left:150px">
        <p style="font-size:40px; position:relative; left:60px; ">实现梦想就找蓝天计划，月入百万不是梦</p>
        <a style="font-size:30px; position:relative; left:150px; color:#BCE8F1;" href="/user/blog_login/
">登录</a>
        <a style="font-size:30px; position:relative; left:200px; color:#BCE8F1;" href="/user/blog_regist/">注册</a>
    </div>

{% endblock %}