{% extends 'shop_base.html' %}

{% block title %}提交订单{% endblock %}

{% block style %}
	<style type="text/css">
		#div1 th{
			width: 200px;
			text-align: center;
			background-color: #FCF8E3;
		}
		th{
			text-align: center;
		}
		#div1 td{
			
			text-align: center;
		}
	</style>
	
{% endblock %}

	{% block back %}
	<div class="back">
		<h2>查看所有订单</h2>
	
	</div>
	{% endblock %}

{% block content %}
<br><br><br>
<div class="container">
	
	<div style="text-align: center;">
		<table border="1px" cellspacing="" cellpadding="" style="position: relative;left: 180px;">
			<tr style="background-color: #ff5d56; color: white; height: 45px; ; font-size: 22px;  border: white solid 1px;">
				<th style="width: 400px;">寄送地址</th>
				<th style="width: 100px;">商品</th>
				<th  style="width: 80px;">数量</th>
				<th style="width: 80px;">总价</th>
				<th style="width: 120px;">买家</th>
			</tr>
			
				{% for o in order %}
			<tr style="background-color: bisque; border: white solid 1px; height: 38px; ; font-size: 16px;">
				<td>{{o.addr}}</td>
				<td>{{o.good_name}}</td>
				<td>{{o.good_num}}</td>
				<td>{{o.total}}</td>
				<td>{{request.session.LoginUser.user_name}}</td>
			</tr>	
				{% endfor %}
		</table>
	</div>
	<br>
	<br>
	<div >
		<a href="/user/u_allgoods/" >
			<div style="background-color: #FF5D56; color: #FFFFFF; height: 30px;width: 80px; text-align: center; padding-top: 6px; position: relative; left: 880px;">返回首页</div>
			
		</a>
	</div>

	
</div>		
	{% endblock %}
	
	
	



    