
{% extends 'shop_base.html' %}

{% block title %}所有商品{% endblock %}

{% block style %}
	<style type="text/css">
		#div1 th{
			width: 200px;
			text-align: center;
			background-color: #FCF8E3;
		}
		#div1 td{
			
			text-align: center;
		}
	</style>
	
{% endblock %}

	{% block back %}
	<div class="back">
		<img src="/{{store.store_pic}}" style="width: 100px; border-radius: 50%; " >	
		<span style="font-size: 40px;color: white; margin: 0 30px;">{{store.store_name}}</span>
	</div>
	{% endblock %}
		
	{% block content %}
	<br><br><br><br>
	<div class="container">
<!-- 		{{msg}}
		{{goods}} -->
		<table border="2px" style="border: white 2px solid;">
				<tr style="background-color: #FF5D56; height: 45px; color: #FFFFFF;">
					<th class="col-lg-1">商品id</th>
					<th class="col-lg-2">商品名字</th>
					<th class="col-lg-1">商品价格</th>
					<th class="col-lg-2">商品介绍</th>
					<th class="col-lg-1">商品销量</th>
					<th class="col-lg-1">商品库存</th>
					<th class="col-lg-1">所售店铺</th>
					<th class="col-lg-2">商品图片</th>
					<th class="col-lg-1">操作</th>
					
				</tr>
				{% for i in goods %}

				<tr style="background-color: antiquewhite; text-align: center;">
						<td>{{i.good_id}}</td>
						<td>{{i.good_name}}</td>
						<td>{{i.good_price}}</td>
						<td>{{i.good_inst}}</td>
						<td>{{i.sale_num}}</td>
						<td>{{i.rema_num}}</td>
						<td>{{i.store_id}}</td>
						<td><img src="/{{i.good_img}}" style="width: 160px; margin: 14px 0;" ></td>
						<td>
							<a href="/user/buyGoods/{{i.good_id}}/{{i.store_id}}">购买</a>
							<br>
							<a href="/user/addCart/{{i.good_id}}/{{i.store_id}}">加入购物车</a>
							<br>
							<a href="/user/enterShop/{{i.store_id}}">进入该店铺</a>
						</td>
				</tr>
				{% endfor %}

		</table>
		

	</div>
	
	
		
	{% endblock %}
	




