{% extends 'pink_base.html' %}

{% block content %}
<br><br>
    <div style="position:relative; width: 700px;">
        <h1>All students Information</h1>
        <div>
            <form method='get' action="/search/" target="_blank">
                {% csrf_token %}
                <input type="text" name="q">
                <input type="submit" value="查询">
            </form>

        </div>

        <table >
			<tr style="width: 600px; text-align: center;">
				<td style="color: white;font-size: 26px;" >name</td>
				<td style="color: white;font-size: 26px;" >Teaid</td>
				<td style="color: white;font-size: 26px;" >Control</td>
				
			</tr>
            {% for stu in page %}
			
            <tr style="width: 600px;">
                <!-- <td ><h2 style="color: #D1EDFF; width: 100px;">{{stu.name}}: &nbsp </h2></td> -->
                <td><h3 style="color: #F3F3F3">{{stu.name}} :</h3></td>
				<br>
				<td > <h3 style="color: #D1EDFF; ">{{stu.teaid_id}}</h3></td>
                <td style="z-index:1">
                    <a style="color: white;font-size: 23px;" href="/user/updateUser/{{stu.id}}"> &nbsp Update  </a>
					 <span style="font-size: 23px;">|</span>
                    <a style="color: white;font-size: 23px;" href="/user/deleteUser/{{stu.id}}">  Delete  </a>
					<span style="font-size: 23px;">|</span>
					<!--<a style="color: white;font-size: 23px;" href="/user/allart/{{stu.id}}">  Select  </a>-->
					<!--<span style="font-size: 23px;">|</span>-->
                    <a style="color: white;font-size: 23px;" href="/user/putartcle/{{stu.id}}">   Add </a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br><br><br>
        <div style="font-size:20px; ">
            <!--{% for p in page %}-->
                <!--{{p.name}} <br>-->
            <!--{% endfor %}-->

            <a style="color:white" href="/user/allstu/?pagenum=1">首页</a>

            {% for i in pagena.page_range %}
                <a style="color:white" href="/user/allstu/?pagenum={{i}}"><p style="width:30px; display:inline-block; text-align:center">{{i}}</p></a>
            {% endfor %}

            <!--{% if page.has_next %}-->
                <!--<a style="color:white; " href="/user/allstu/?pagenum={{page.next_page_number}}">&raquo;</a>-->
            <!--{% endif %}-->

            {% if page.has_next %}
                <a style="color:white; " href="{url 'user:allstu'}">下一页</a>
            {% endif %}

        </div>


    </div>
{% endblock %}