<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {{request.session.LoginUser.user_name}}<br>
    {{request.session.LoginUser.user_account}}
    <a href="/user/updateUser">修改个人信息</a><br>
    <a href="/user/addAddr">添加收货地址</a><br>
    <a href="/user/addrs">收货地址</a><br>
    <a href="">查看商品信息</a><br>
    <a href="">搜索商品(用search)</a><br>
    <a href="">查看历史订单</a><br>
    <a href="">申请开店</a><br>
    <a href="/user/exitUser">退出登录</a><br>
</body>
</html>